<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <h1>Ejercicio 2, Blog</h1>
        <!-- Navegación -->
        <nav>
            <a href="#">Contacto</a>
            <a href="#">Quienes somos</a>
            <a href="#">Telefono</a>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <section>
            <h2>Titulo de la sección</h2>
            <!-- articulos -->
            <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi aliquam repudiandae id, ex
                dolorem quae quaerat voluptas, praesentium adipisci accusantium maxime? A perspiciatis eos minima et id
                aperiam nam.
                <small>04/09/2025</small>
            </article>

            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aut, perferendis cum animi
                harum reiciendis asperiores odit debitis ad nisi placeat nostrum necessitatibus numquam esse pariatur
                nulla fugiat architecto possimus!
                <small>04/09/2025</small>
            </article>

        </section>
    </main>

    <!-- Pie de pagina -->
    <footer>
        <p>Blog creado por Felipe Meneses 2025</p>
    </footer>
</body>

</html>