<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Semantico</title>
</head>

<body>
    <!-- Encabezado del mapa -->
    <header>
        <h1>Primera pagina semantica</h1>
        <!-- Navegación -->
        <nav>
            <a href="#">Contacto</a>
            <a href="#">Quienes somos</a>
            <a href="#">Telefono</a>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <section>
            <h2>Seccion dentro del main</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum id labore voluptas sunt eius dignissimos
                cumque ea, dolore culpa? Mollitia, doloribus doloremque nesciunt repellat aperiam provident
                necessitatibus voluptatem quae commodi!</p>
            <img src="#" alt="Ejemplo de una imagen">

            <!-- Articulo destacado -->
            <article>
                <h3>Sigue estando dentro del main, articulo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempora accusamus facilis,
                    mollitia totam rem nulla perspiciatis ea? Distinctio id obcaecati quas neque error quo ipsam
                    accusamus! Ipsam, vel quaerat!</p>
            </article>
        </section>
    </main>

    <!-- Pie de pagina -->
    <footer>
        <p>© 2025 - Mi sitio web</p>
    </footer>
</body>

</html>