<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi presentación</title>
</head>
<body>
    <h1>Sobre Mi</h1>
    <h2>Acerca de mi </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quaerat exercitationem soluta, sapiente consequuntur tempore omnis aut eaque ducimus aliquid a doloribus, dolore quibusdam facilis architecto commodi veniam iure cum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quaerat exercitationem soluta, sapiente consequuntur tempore omnis aut eaque ducimus aliquid a doloribus, dolore quibusdam facilis architecto commodi veniam iure cum?</p>

    <ol>
        <li>Aprender a programar</li>
        <li>Comprarme un carro</li>
        <li>No tener deuda :)</li>
    </ol>

    <table>
        <tr>
            <th>Habilidad</th>
            <th>Nivel</th>
        </tr>
        <tr>
            <td>dormir</td>
            <td>alto</td>
        </tr>
        <tr>
            <td>estudiar</td>
            <td>experto</td>
        </tr>
    </table>
    <br>

    <img src="https://via.placeholder.com/100" alt="Imagen de ejemplo">

    <a href="#">Mi red social</a>

    <form action="#">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre"><br>

        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" placeholder="Ingrese correo"><br>
        <label for="msj">Mensaje:</label>
        <input type="search" name="msj" id="msj"><br>
        <input type="submit" value="Enviar datos">
    </form>
</body>
</html>