<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina web</title>
</head>

<body>
    <h1>Mi pagina web</h1>
    <p>lorem</p>
    <p>lorem</p>
    <a href="https://www.google.com">Google</a>

    <ul>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
    </ul>

    <img src="https://via.placeholder.com/150" alt="">

    <form action="">
        <label for="nombre">Nombre</label><br>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre"><br>
        <input type="submit" id="nombre" value="Enviar">
    </form>
</body>

</html>